.create{
    max-width: 400px;
    margin: 0px auto;
    text-align: center;
}
.create label{
    text-align: left;
    display: block;
}
.create input, .create textarea, .create select{
    display: block;
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.create button{
    color: white;
    border: 0px;
    border-radius: 10px;
    background-color: mediumvioletred;
    margin-bottom: 10px;
    padding: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #3e8e41
}